* {
  text-transform: uppercase;
  text-align: center;
}


.header {
  margin-top: 30px;
  background-color: #8ad483;
  padding: 10px;
}

.sidebar-left {
  padding: 25px;
  background-color: #c7c8fb;
}

.content {
  padding: 25px;
  background-color: #ffffff;
}

.sidebar-right {
  padding: 25px;
  background-color: rgb(175, 153, 204);
}

.footer {
  padding: 10px;
  background-color: #fdb461;
}

.page-nav {
  padding-top: 1rem;
}
